source https://api.nuget.org/v3/index.json

group build
    source https://api.nuget.org/v3/index.json
    nuget FAKE
    nuget FSharp.Data
    
    nuget ILRepack 2.0.16
    
    source https://ci.appveyor.com/nuget/assemblyrewriter
    clitool assembly-rewriter
